{% extends "./base.html" %}

{% block body %}
    <h2>Agregar Proveedor</h2>
    <div class="card">
       <div class="card-body">
           <form action="{% url 'crearproveedor' %}" method="POST">{% csrf_token%}
                <div class="form-group">
                    <input type="text" id="txtNombre" name="txtNombre"
                           class="form-control" placeholder="Nombre"
                           maxlength="50" required>
                </div>
               <div class="form-group">
                    <input type="text" id="txtApellido" name="txtApellido"
                           class="form-control" placeholder="Apellido"
                           required>
               </div>
               <div class="form-group">
                    <input type="number" id="numDni" name="numDni"
                           class="form-control" placeholder="DNI"
                           required>
               </div>
               <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white">Crear</button>
               </div>
           </form>
       </div>
    </div>
{% endblock %}